<h1>All Events</h1>

<p><%= link_to "Add event", new_event_path %></p>

<% @events.each do |event| %>
    <div class="">
        <h4><%= link_to event.title, event_path(event) %></h4>
        <p><%= time_format(event&.start_date)%> <%=fa_icon "camera-retro"  %></p>
        <p><%= time_format(event&.end_date)%></p>
        <p><%= event.venue%>, <%= event.location%></p>
    </div>
<% end %>
